.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-template-rows-1 {
  grid-template-rows: 100px 80% 5%;
}

/*PAGE style*/
.login-page-container {
  background: linear-gradient(-90deg, var(--primary), var(--blackLighter));
  padding-bottom: 20px;
  width: 100vw;
  height: 100vh;
}

/*LOGIN style*/

.login-form-container {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: grid;
  justify-content: center;
  border-radius: 14px;
}

.login-form-container img {
  padding-top: 15px;
  padding-left: 35px;
  padding-bottom: 15px;
}

.login-form-input {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid azure;
  border-radius: 4px;
  height: 44px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 10px;
}

/*FOOTER style*/
#login-footer {
  padding-left: 60px;
  padding-bottom: 20px;
  color: aquamarine;
}

#login-footer-off {
  padding-left: 60px;
  padding-bottom: 20px;
  color: crimson;
}

button {
  margin: 5px 0 0;
  height: 44px;
  background: #5c8599;
  cursor: pointer;
  font-weight: bold;
  color: azure;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}
button:hover {
  background: var(--primary);
}
span {
  color: #f64c75;
  align-self: flex-start;
  margin: 0 0 10px;
  font-weight: bold;
}
.login-cadastro-link {
  color: azure;
  margin-top: 15px;
  font-size: 16px;
  opacity: 0.8;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.2s;
}

.login-cadastro-link:hover {
  opacity: 0.4;
}
