/*GRID style*/
.register-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.register-grid-template-rows-1 {
  grid-template-rows: 100px 80% 5%;
}

/*PAGE style*/
.register-page-container {
  background: linear-gradient(-90deg, var(--primary), var(--blackLighter));
  padding-bottom: 20px;
  width: 100vw;
  height: 100vh;
}

/*LOGIN style*/

.register-form-container {
  justify-content: center;
  align-items: center;
}

.form-legend {
  width: 100%;
  font-size: 32px;
  line-height: 50px;
  color: azure;
  font-weight: 700;
  border-bottom: 1px solid #d3e2e5;
  text-align: center;
}

.register-form-container {
  display: grid;
  justify-content: center;
  border-radius: 14px;
}

.register-login-form-input {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid azure;
  border-radius: 4px;
  width: 300px;
  height: 44px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 18px;
}

button {
  margin: 5px 0 0;
  height: 44px;
  background: #5c8599;
  cursor: pointer;
  font-weight: bold;
  color: azure;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background: var(--primary);
}

/*FOOTER style*/
#login-footer {
  padding-left: 60px;
  padding-bottom: 20px;
  color: azure;
}

/*MOBILE Icon style*/

@media (max-width: 768px) {
  #icon {
    padding: 20px;
    transition: opacity 0.2s;
  }

  #login-footer {
    padding: 20px 20px;
    color: azure;
    display: flex;
    justify-content: center;
  }
}
