/*PAGE style*/
.app-page-container {
  background: linear-gradient(-90deg, var(--primary), var(--blackLighter));
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

/*LOGIN style*/

.app-container {
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid azure;
  border-radius: 16px;
  margin-top: 1px;
  height: 90%;
  width: 20%;

  transition: 0.5s;
}

.app-container:hover {
  transform: scale(1.1);
}

h1 {
  border-bottom: 1px solid #d3e2e5;
}
h1,
h6,
h2 {
  color: #d3e2e5;
  display: flex;
  justify-content: center;
}

.icon-combo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon-combo h6 {
  padding-left: 5px;
  font-size: large;
}

@media (max-width: 768px) {
  .app-page-container {
    background: linear-gradient(-90deg, var(--primary), var(--blackLighter));
    display: grid;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
  }

  .app-container {
    height: 50vh;
    width: 90vw;
    transition: none;
  }

  .app-container:last-child {
    height: auto;
  }

  .app-container:hover {
    transform: none;
  }

  .icon-combo h6 {
    font-size: large;
    padding-left: 5px;
  }
}
