footer {
  background-color: var(--primary);
  /* background: url("../../assets/images/Backgrouds/HeaderBackgroud.png"); */
  width: 100vw;
  height: 28vh;

  text-align: center;
  align-items: center;

  bottom: 0;
  right: 0;
  left: 0;
}

footer a {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
footer img {
  max-width: 100px;
  max-height: 100px;
}

footer h4 {
  color: var(--color-background);
}

@media (max-width: 800px) {
  footer {
    bottom: 0;
  }
}
