/*PAGE style*/
.book-page-container {
  background: linear-gradient(-90deg, var(--primary), var(--blackLighter));
  padding-top: 100px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.book-container {
  width: 60%;
  height: 90vh;
}

.book-container li {
  list-style-type: none;
  padding: 20px 20px 20px 20px;
}

@media (max-width: 768px) {
  .book-page-container {
    display: grid;
  }

  .book-container {
    width: 100%;
  }

  .book-container li {
    padding: 10px 10px 10px 10px;
  }
}
